%div
  #ps_slider.ps_slider
    #ps_albums
      .ps_album{style: 'opacity:0;'}
        %img{src: 'http://farm5.static.flickr.com/4034/4408431562_01c2e1516b_s.jpg', width: '100%'}
        .ps_desc
          %h2 The Child
          %span
            The early years during and after World War II. 
      .ps_album{style: 'opacity:0;'}
        %img{src: 'http://farm5.static.flickr.com/4040/4408427486_fa59f52d36_s.jpg', width: '100%'}
        .ps_desc
          %h2 The Rebel
          %span
            The years she wandered through Europe.
      .ps_album{style: 'opacity:0;'}
        %img{src: 'http://farm5.static.flickr.com/4011/4408428034_efe0fde5d2_s.jpg', width: '100%'}
        .ps_desc
          %h2 The Wife
          %span
            When she met her husbad and father of her children.
      .ps_album{style: 'opacity:0;'}
        %img{src: 'http://farm5.static.flickr.com/4040/4408420546_f7339569bc_s.jpg', width: '100%'}
        .ps_desc
          %h2 The Mother
          %span
            The early years of being a mother.
  #ps_overlay.ps_overlay{style: 'display:none;'}
  %a.ps_close#ps_close{style: 'display:none;'}
  #ps_container.ps_container{style: 'display:none;'}
    %a.ps_next_photo#ps_next_photo{style: 'display:none;'}
